* {
	margin: 0;
	padding: 0;
}

html {
	max-width: 100ch;
	padding: 2ch;
	margin: auto;
	font-size: 1.2em;
}

.bgImage {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	background-image: url('./img/staffroom.jpg');
}

.titlePicture {
	width: 10vh;
	height: 20vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1 {
	text-align: center;
	border: solid 2px;
	border-width: 5px;
}

.gameText {
	color: rgb(9, 214, 9);
	font-family: monospace;
	font-weight: bolder;
	outline-color: black;
	font-size: 1.8em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.gamePic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 30vh;
}

.erlendStart {
	position: absolute;
	bottom: 200px;
	right: 300px;
	max-height: 40vh;
	max-width: 30vh;
}

.thereseStart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-height: 25vh;
	max-width: 25vh;
}

.linnStart {
	position: absolute;
	bottom: 20vh;
	left: 20vh;
	max-height: 40vh;
	max-width: 40vh;
}

/* div {
	background-color: lightgray;
	border: solid 2px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
} */

/* img {
	max-width: 200px;
} */

.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
	animation: loading 1s /*linear infinite*/;
}
.myButton:hover {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
}
.myButton:active {
	position: relative;
	top: 1px;
}

.tie {
	max-height: 40vh;
	max-width: 40vh;
}

@keyframes loading {
	to {
		transform: rotate(1turn);
	}
}
