* {
	margin: 0;
	padding: 0;
}

html {
	max-width: 100ch;
	padding: 2ch;
	margin: auto;
	font-size: 1.2em;
}

.bgImage {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	background-image: url('./img/staffroom.jpg');
}

.titlePicture {
	width: 10vh;
	height: 20vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1 {
	text-align: center;
	border: solid 2px;
	border-width: 5px;
}

.gameText {
	color: #27d4ff;
	text-shadow: 3px -2px 0px #3122ff;
	font-family: monospace;
	font-weight: bolder;
	outline-color: black;
	font-size: 1.8em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.gamePic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 30vh;
}

.erlendStart {
	position: absolute;
	bottom: 175px;
	right: 275px;
	max-height: 40vh;
	max-width: 30vh;
	overflow: clip;
}

.erlendStart:hover {
	animation: erlend 2s;
	overflow: clip;
}

.thereseStart {
	position: absolute;
	bottom: 250px;
	left: 500px;
	max-height: 40vh;
	max-width: 40vh;
	overflow: clip;
}

.thereseStart:hover {
	animation: therese 2s;
	overflow: clip;
}

.linnStart {
	position: absolute;
	bottom: 0px;
	left: 200px;
	max-height: 60vh;
	max-width: 60vh;
	overflow: clip;
}

.linnStart:hover {
	animation: linn 2s;
	overflow: clip;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #27d4ff 5%, #2344ff 100%);
	background-color: #2bc3ff;
	border-radius: 6px;
	border: 1px solid #27d4ff;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px white;
	animation: button 2s;
}
.myButton:hover {
	background: linear-gradient(to bottom, #3122ff 5%, #27d4ff 100%);
	background-color: #27d4ff;
}
.myButton:active {
	position: relative;
	top: 1px;
}

.tie {
	max-height: 40vh;
	max-width: 40vh;
	justify-content: center;
}

@keyframes button {
	to {
		transform: rotate(2turn) rotateY(2turn);
	}
}

@keyframes therese {
	to {
		transform: scaleY(3) scaleX(0.7);
	}
}

@keyframes erlend {
	to {
		transform: scaleX(10);
	}
}

@keyframes linn {
	to {
		transform: rotateY(2turn);
	}
}
